@font-face {
  font-family: 'Vazir';
  src:
    url('/font/vazir/Vazir-Medium.woff') format('woff2'),
    url('/font/vazir/Vazir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazir';
  src:
    url('/font/vazir/Vazir-Medium.woff') format('woff2'),
    url('/font/vazir/Vazir.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}   